@import "./mixins";

.Header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--main-color-bg);
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6vw;
    display: block;
    background-color: var(--main-color-text);
    width: 40px;
    height: 20px;
    border-radius: 60%;
    transition: .5s;
    outline: none;
    cursor: pointer;


    &::before {
        content: "";
        position: absolute;
        left: var(--bullet-position);
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--main-color);
        width: 40%;
        height: 70%;
        border-radius: 60%;
        transition: .5s;
    }

    &:hover::before {
        background-image: linear-gradient(to right, var(--main-color) 50%, var(--main-color-text) 50%);
        transition: .5s;
    }
}