.task-item {
  background-color: var(--main-color-bg);
  color: var(--main-color-text);
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.task-item .empty-list {
  padding: 1rem;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 1px;
  -webkit-transition: .5s;
  transition: .5s;
}

.task-item .empty-list:hover {
  letter-spacing: 3px;
}

@media (max-width: 575px) {
  .task-item {
    padding: 0.8rem;
  }
}

.task-item li {
  border-radius: 10px;
  padding: 1rem 2.3rem;
  width: 70%;
  margin: auto;
  background: var(--main-color-li);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  margin: .5rem auto;
  font-size: 1.4rem;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.task-item li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.task-item li div span {
  margin: 0 .5rem;
  font-size: .9rem;
  cursor: pointer;
  display: block;
  letter-spacing: 0;
}

.task-item li:hover {
  -webkit-transform: translateX(7px);
          transform: translateX(7px);
  letter-spacing: 4px;
  outline: 3px solid var(--clr-outline);
}

.task-item li:hover div {
  opacity: 1;
}
